
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  background-color: black;
  color: white; 
  font-family: Arial, sans-serif; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  width: 100vw; 
}


/* Styles for the app container */
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto; 
  height: auto;
  padding: 30px;
 }


input[type="range"] {
  -webkit-appearance: none; 
  appearance: none;
  width: 300px; 
  height: 15px;
  background: #333; 
  outline: none;
  opacity: 0.7; 
  transition: opacity 0.2s;
}

/* Hover effect for sliders */
input[type="range"]:hover {
  opacity: 1; 
}

/* the thumb of the slider */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px; 
  height: 25px;
  background: #fff;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #fff;
  cursor: pointer;
}


input[type="color"] {
  width: 50px; 
  height: 30px; 
  border: none; 
  cursor: pointer; 
  margin-left: 10px; 
}
